registry=http://grtfs:8080/tfs/grmcollection/_packaging/grm-tfs-repository/npm/registry/
always-auth=true
; Trate este token de autorización como una contraseña. No lo comparta con nadie, ni siquiera con el soporte técnico de Microsoft. Este token expira como máximo el 23/05/2018.
; token de autenticación inicial
//grtfs:8080/tfs/grmcollection/_packaging/grm-tfs-repository/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InJrNVF1Y1hubk1Ea01FckJUUXk1Mmx0X21kbyJ9.eyJuYW1laWQiOiJjMWNmNTIxNS02NWYzLTQ2MDQtYjdmZC0zOWY3ZjA5MzE1YzMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZTA5NThlOGQtYmY2My00OTliLWIyMzQtYmI4NTVlM2U1YmE0Iiwic2lkIjoiZmYyOTk3ZDMtZGEwMC00MGI5LThkMTUtOWUxOWNlNTk5ZmY5IiwiaXNzIjoiZ3J0ZnMiLCJhdWQiOiJncnRmcyIsIm5iZiI6MTUxOTMwMTk3NiwiZXhwIjoxNTI3MDc3OTc2fQ.oqtduSyxYMtyy8pEQ4d7oVB5VwOM9b7CGImBXKFSs9tkL2bEaa4kDXJADLKpjj3ocON6n1xlXk7utK3Ov7SYvhWXZhhPMweDbtQGbUvmf-irZ-gsElK0JQIn4aDXlz7PkkVnIBIFVNX1lcWzRarjq2MVFrmg_5X4Tqd6tgd51p_IdDdqi_czXTHpzAJ36WdcuUhmYhlpwJoNmu-YxEoHy4sl-dY2V9laOmyXe9XDOgw4Tr8tNJtgyfntfsdkg0I0GGKF9bBGauJEPEBgF2-RjA799wMAsXK9Ed2VUt4VB776XGTg7hyhz4hX7QTehsQ9oX0fMuwJacRhX3KXabfmqQ
//grtfs:8080/tfs/grmcollection/_packaging/grm-tfs-repository/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InJrNVF1Y1hubk1Ea01FckJUUXk1Mmx0X21kbyJ9.eyJuYW1laWQiOiJjMWNmNTIxNS02NWYzLTQ2MDQtYjdmZC0zOWY3ZjA5MzE1YzMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZTA5NThlOGQtYmY2My00OTliLWIyMzQtYmI4NTVlM2U1YmE0Iiwic2lkIjoiZmYyOTk3ZDMtZGEwMC00MGI5LThkMTUtOWUxOWNlNTk5ZmY5IiwiaXNzIjoiZ3J0ZnMiLCJhdWQiOiJncnRmcyIsIm5iZiI6MTUxOTMwMTk3NiwiZXhwIjoxNTI3MDc3OTc2fQ.oqtduSyxYMtyy8pEQ4d7oVB5VwOM9b7CGImBXKFSs9tkL2bEaa4kDXJADLKpjj3ocON6n1xlXk7utK3Ov7SYvhWXZhhPMweDbtQGbUvmf-irZ-gsElK0JQIn4aDXlz7PkkVnIBIFVNX1lcWzRarjq2MVFrmg_5X4Tqd6tgd51p_IdDdqi_czXTHpzAJ36WdcuUhmYhlpwJoNmu-YxEoHy4sl-dY2V9laOmyXe9XDOgw4Tr8tNJtgyfntfsdkg0I0GGKF9bBGauJEPEBgF2-RjA799wMAsXK9Ed2VUt4VB776XGTg7hyhz4hX7QTehsQ9oX0fMuwJacRhX3KXabfmqQ
; token de autenticación final