$color-acent: #3967a9;
$color-acent-5:rgba($color-acent, 0.05);
$color-red: rgba(220, 53, 69, 0.8);
$background-grey: #FAFAFA;
$color-acent-hover: #424242;
$color-second-acent: #7494c3;
$background-section: #ffffff;
$color-acent-10:rgba($color-acent, 0.10);
$color-acent-15:rgba($color-acent, 0.15);



$icon-grey: #9E9E9E;
$icon-green: #6CB56F;
$icon-green-hover: #61C066;
$selection: #89abd1;


$background-tabs: transparent;
$border-entity-gray: #ddd;


$tiba-red: #da291c;

$color-orange: #ff5722;


$color-acent-20:rgba($color-acent, 0.20);
$color-acent-25:rgba($color-acent, 0.25);
$color-acent-30:rgba($color-acent, 0.30);
$color-acent-50:rgba($color-acent, 0.50);
$color-acent-70:rgba($color-acent, 0.70);
$color-acent-90:rgba($color-acent, 0.90);


$color-three-acent: #E1E1E1;

$color-white: #fcf9f9;
$color-white900: #f3f3f3;
$color-dark-red: #A40000;
$color-light-red: #ff6666;
$color-grey100: #E0E0E0;
$color-grey200: #E1E1E1;
$color-grey300: #C3C7CB;
$color-grey400: #BCC0C5;
$color-grey500: #9E9E9E;
$color-grey550: #969696;
$color-grey700: #616161;
$color-grey750: #5E6265;
$color-grey800: #424242;
$color-blacknacho: #000;

$background-one: #f7f7f7;
$background-two: #ffffff;
$background-three: #e7ecf2;
$background-four: #F1F1F2;

$pagination: $color-acent;
$pagination-hover: #FFFFFF;
$pagination-btn: #f7f7f7;
$pagination-disabled: #C3C7CB;

$direct-rate: #417505;
$tranship-rate: #d67517;